{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}


<section id="about">
    <div class="container py-2">
        <h2 style="color: var(--nav-bg);" class="text-center py-3">About Us</h2>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <div class="post">
                    <!-- About Content -->
                    <div class="col-lg-12 p-none">
                        <div class="about-img-container">
                            <img  style="width: 100%; height: 100%; object-fit:cover;" src="{{ MEDIA_URL }}rebel-about.jpg" alt="about-img">
                        </div>
                    </div>
                    <div class="about-page-content pt-5">
                        <p>Rebel Beans was founded in 2017 with the aim of making the best cold brew coffee possible. We tried different coffee beans from different countries and continents. After a long and tiring phase of trial & error, we have developed the best cold brew coffee blend!
                            <br>
                            <br>
                            Finding the recipe for our cold brew was just the beginning. We realized that our production generates waste from used coffee grounds. Only because we do not use sugar or additives in our cold brew coffee, our waste is pure coffee grounds. We immediately started looking for ways to process this waste sensibly. Thanks to our country's resources, we realized that there are many ways to process coffee waste other than using it as compost.
                            <br>
                            <br>
                            We must remind you that coffee consumption in the Netherlands is around 90,000 tons per year. Most of it ends up in landfills or is incinerated, emitting greenhouse gases such as methane and CO2. So we stepped up our efforts and decided to do something about it. Rebel Beans' recycling efforts need you. We know that you are aware of the environmental problems we face and we also know that you are willing to do everything in your power to help stop it.
                            <br>
                            <br>
                            From this day forward, we'll make sure you hear about us and our goal to recycle coffee waste. We are proud that Rebel Beans voluntarily collected the coffee waste from the Amsterdam Coffee Festival in March 2021. We hope to see you there and meet you in person. Since then, you can always contact us and share your ideas with us!
                            <br>
                            <br>
                            Be careful and keep recycling!
                            <br>
                            <br>
                            <br>
                            Team Rebel Beans
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}