{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    
    <section id="home" class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-8 col-md-6 my-auto">
                    <h2 class="display-5">
                        Rebel Beans Cold Brew Coffee 
                    </h2>
                    <div class="my-5">
                        <h3>
                            <a href="" class="btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}