{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    
    <section id="home" class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-10 col-md-8">
                    <h2 class="mt-5">
                        Rebel Beans Coffee Company 
                    </h2>
                    <div class="shop-now">
                        <h3 class="mt-5">
                            <a href="{% url 'products' %}" class="btn btn-md btn-secondary rounded-0 text-uppercase py-3 shop">Shop Now</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}