/* Adobe Fonts */

@import url("https://use.typekit.net/jek3hmd.css");

/* Global Settings */

:root {
	--font-color: #121212;
	--nav-bg: #151719;
	--nav-links: #eceded;
	--bg-purple: #8787C2;
	--bg-yellow: #FEB00F;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: 100%;
	font-family: termina, sans-serif;
    overflow-x: hidden;
	color: var(--font-color);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

h2 {
	font-family: cortado, sans-serif!important;
	font-weight: 400;
	font-size: 3rem;
}  

p {
	font-size: .8rem;
}

.text-black {
	color: var(--font-color) !important
}

.btn-black {
    background: var(--font-color);
    color: white;
}

.btn-outline-black {
    background: white;
    color: var(--font-color) !important;
    border: 1px solid var(--font-color);
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: var(--font-color);
    color: white !important;
}


.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: var(--font-color);
    color: white;
}

.border-black {
    border: 1px solid var(--font-color) !important;
}

.bg-black {
    background: var(--font-color) !important;
}

a.category-badge > span.badge:hover {
    background: var(--font-color) !important;
    color: #fff !important;
}

.update-link,
.remove-item {
	cursor: pointer;
}

.custom-bg a {
	background: var(--nav-bg);
}

/* from Bulma */
.icon {
	align-items: center;
    display: inline-flex;
	justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.bg-light {
	background-color: #fff !important;
    transition: all 200ms linear;
}

#delivery-banner h4 {
	font-size: 1rem;
	font-weight: 900;
}

/* Bootstrap Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/*      Navigation */

nav {
	background: var(--nav-bg);
	color: var(--nav-links);
}

.navbar{
	padding: 0;
}

.navbar-brand img{
	height: 28px;
	width: auto;
	display: block;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}

.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}

.dropdown-toggle:active,
.dropdown-toggle:focus {
	outline: none;
}

.nav-link:active,
.nav-link:focus {
	outline: none;
}

nav .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid var(--nav-links);
    transition: all 300ms linear;
}

nav .navbar-toggler-icon:after, 
nav .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: var(--nav-links);
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}

nav .navbar-toggler-icon:after{
	top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

#delivery-banner {
	color: var(--nav-links);
	margin-bottom: 5rem;
}

.banner-col {
	background: var(--bg-purple);
}

.highlight {
	background: url('/media/brush-stroke.png');
	background-repeat: no-repeat;
	background-size: 100% 90%;
	padding: 6px 60px;
}

#topnav {
	background: var(--nav-bg)!important;
	color: var(--nav-links) !important;
}

.nav-link{
	color: var(--nav-links) !important;
	background: var(--nav-bg)!important;
	font-weight: 500;
    transition: all 200ms linear;
}

.cart-item {
	color: var(--bg-yellow)!important;
}

.nav-item:hover .nav-link{
	color: #8167a9 !important;
}

.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}

.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #8167a9;
	opacity: 0;
    transition: all 200ms linear;
}

.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}

.nav-item.active:hover:after{
	opacity: 0;
}

.nav-item{
	position: relative;
    transition: all 200ms linear;
}

.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
	max-height: 0;
    display: block;
	padding: 0;
	margin: 0;
    transition: all 200ms linear;
}

.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
	max-height: 999px;
    transform: translate3d(0, 0px, 0);
}

.dropdown-menu {
	padding: 10px!important;
	margin: 0;
	font-size: 13px;
	letter-spacing: 1px;
	color: var(--font-color);
	background-color: var(--nav-links);
	border: none;
	border-radius: 3px;
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}

.dropdown-toggle::after {
	display: none;
}

.dropdown-item {
	padding: 3px 15px;
	color: var(--nav-bg);
	border-radius: 2px;
    transition: all 200ms linear;
}

.dropdown-item:hover, 
.dropdown-item:focus {
	color: #fff;
	background-color: rgba(129,103,169,.6);
}

.list-inline-item p {
	font-size: .8rem;
}

@media (max-width: 768px) { 

	#main-nav ul {
		margin-bottom: 0!important;
	}
	
	.nav-item:after{
		display: none;
	}
	
	.nav-item::before {
		position: absolute;
		display: block;
		top: 15px;
		left: 0;
		width: 11px;
		height: 1px;
		content: "";
		border: none;
		background-color: var(--font-color);
	}
	
	.dropdown-toggle::after {
		position: absolute;
		display: block;
		top: 10px;
		left: -23px;
		width: 1px;
		height: 11px;
		content: "";
		border: none;
		background-color: var(--font-color);
		transition: all 200ms linear;
	}
	
	.dropdown-toggle[aria-expanded="true"]::after{
		transform: rotate(90deg);
		opacity: 0;
	}
	
	.dropdown-menu {
		padding: 0 !important;
		background-color: transparent;
		box-shadow: none;
		transition: all 200ms linear;
		z-index: 1030;
	}
	
	.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
		margin-top: 10px !important;
		margin-bottom: 20px !important;
	}
	
	.dropdown-item {
		color: var(--nav-links)!important;
	}
	
	.nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }
	
	.highlight { 
		background-size: 100% 90%;
		padding: 6px 30px;
	}
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 140px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 75px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .nav-link {
        padding: 0.15rem;
    }

    #delivery-banner h4 {
        font-size: .8rem;
    }
 
    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
	
}

/* 		Homepage */

.jumbotron {
	margin: 0;
	background: url('/media/home-background.jpg') no-repeat center center;
    min-height: 95vh;
    background-size:cover;
}

@media (max-width: 414px) {
	.jumbotron {
		min-height: 90vh;
	}
}


/* 		Products Page */

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}