<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto mb-1">
        <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 mr-5">
            <a class="nav-link font-weight-bold" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 mr-5">
            <a class="nav-link dropdown-toggle font-weight-bold" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Shop</a>
            <div class="dropdown-menu font-weight-bold">
                <a class="dropdown-item" href="{% url 'products' %}?category=cold_brew_coffee">Cold Brew Coffee</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=fresh_coffee_beans">Fresh Coffee Beans</a>
                <a class="dropdown-item" href="{% url 'products' %}">All Products</a>
            </div>
        </li>
        <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 mr-5">
            <a class="nav-link font-weight-bold" href="#">Blog</a>
        </li>
        <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 mr-5">
            <a class="nav-link font-weight-bold" href="#">About</a>
        </li>
        <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 mr-5">
            <a class="nav-link font-weight-bold" href="#">Contact</a>
        </li>
    </ul>
</div>