{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section id="contact">
    <h2 class="text-center py-3">Get in touch</h2>
    <div class="container-fluid contact-container">
        <div class="container-fluid">
              <div class="row">
                  <div class="justify-content-center">
                
                  </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}